# Lab 03 - 1: Operators and Strings:

### Exercise 1:

In [3]:
n1 = 42
print(n1)

42

In [7]:
42 = n2
print(n2)
# Putting the equality in the opposite direction means Python is unable to recognise the operation and does not compute that n2 = 42

NameError: name 'n2' is not defined

In [11]:
x = y = 1
print("x = ",x)
print("y = ", y)
print("2x = ", 2*x)
# Here, Python recognises that x and y are separate variables, we can use both x and y normally as independent variables.

x =  1
y =  1
2x =  2

In [17]:
n3 = 42; a = b = 4
print(n3)
print(a)
print(b)
print(n3*a)
# The ";" separator just executes each operation as if the next operation is on the next line. In other words, not much changes, we can act on each
# variable independently.

42
4
4
168

In [19]:
print(xy)
# We can not perform an operation like this. Python thinks xy is a separate variable, not x multiplied by y.

NameError: name 'xy' is not defined

### Exercise 2:

In [35]:
import numpy as np
pi = np.pi
r = 5.0

volume = (4/3)*pi*r**3
print("Volume of the sphere of radius = ", r, " is", volume)

Volume of the sphere of radius =  5.0  is 523.5987755982989

In [ ]:
If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), then 3 miles at tempo (7:12 per mile) 
and 1 mile at easy pace again, what time do I get home for breakfast?

In [41]:
price = 24.95
discount = 0.40
shipping = 3
shipping_add = 0.75
N = 60

Total = (N*(price)/(discount+1))+(shipping +(shipping_add*N-1))
print("Total cost of ", N, "books is $",Total)

Total cost of  60 books is $ 1116.2857142857144

In [87]:
#Running pace variables.
slow = 8.15
fast = 7.12
#Distance covered.
d1 = 1
d2 = 3
# Initial Time.
hour_1 = 6
min_1 = 52

# Time spent running in minutes.
run_time = round(2*(d1*slow) + (3*fast),0)
print("Run Time is",run_time,"minutes")

# Add running minutes to the initial minute and then convert to clock form.
min_2 = (52+run_time)/60

# Arrival time is 7.5, which is 7:30.
arrival_time = 6 + (min_2)
print("Arrival time is", arrival_time)

Run Time is 38.0 minutes
Arrival time is 7.5

# Lab 03 - 2: Conditional Execution:

In [115]:
import random

In [119]:
converg_crit = input("Enter Convergence Criterion for which the estimation will stop:")

Enter Convergence Criterion for which the estimation will stop: 0.001

In [121]:
max_draws = input("Enter the maximum number of draws:")

Enter the maximum number of draws: 4000

In [123]:
converg_crit = float(converg_crit)
max_draws = float(max_draws)

type(converg_crit)
type(max_draws)

float

In [ ]:
n = 0
d = 0
ratios = []
xs = []
ys = []
while d < max_draws:
    x = random.random()
    y = random.random()
    xs.append(x)
    ys.append(y)
    if x**2 + y**2 <= 1.0:
        n += 1
    d += 1
    ratio = 4 * n * 1./d
    
    print(ratio)
    ratios.append(ratio)
    if abs(ratio-pi) / pi <= converg_crit:
        break
print(d)