In [1]:
# 1.We’ve seen that n = 42 is legal. What about 42 = n?
n = 42
42 = n
#Cannot assign a value to a constant (42 is a constant)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3994678923.py, line 2)

In [4]:
# 2.How about x = y = 1?
x = y = 1
print(x)
print(y)

1
1

In [6]:
# 3.In some languages every statement ends with a semi-colon, ;. What happens if you put a semi-colon at the end of a Python statement?
x = 5; y = 10
print(x, y)

5 10

In [8]:
# 4.What if you put a period at the end of a statement?
x = 5.
print(x)

5.0

In [14]:
#5.In math notation you can multiply x and y like this: x y. What happens if you try that in Python?
x = 5
y = 10
x y
#* must be used to multiply

SyntaxError: invalid syntax (7527374.py, line 4)

In [16]:
#2.10 Exercise2
# 1.#The volume of a sphere with radius r is 4/3 π r3. What is the volume of a sphere with radius 5?
import math
r = 5
volume = (4/3) * math.pi * r**3
volume

523.5987755982989

In [18]:
# 2.Suppose the cover price of a book is $24.95, but bookstores get a 40% discount. Shipping costs $3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?
cover_price = 24.95
discount_rate = 0.40
shipping_first_copy = 3
shipping_additional_copy = 0.75
num_copies = 60

discounted_price = cover_price * (1 - discount_rate)

total_cost = discounted_price * num_copies + shipping_first_copy + shipping_additional_copy * (num_copies - 1)
total_cost

945.4499999999999

In [20]:
# 3.If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), then 3 miles at tempo (7:12 per mile) and 1 mile at easy pace again, what time do I get home for breakfast?
from datetime import datetime, timedelta

easy_pace = timedelta(minutes=8, seconds=15)
tempo_pace = timedelta(minutes=7, seconds=12)

start_time = datetime.strptime("6:52 AM", "%I:%M %p")

total_time = easy_pace + 3 * tempo_pace + easy_pace

end_time = start_time + total_time
end_time.strftime("%I:%M %p")

'07:30 AM'

In [22]:
#8.13 Exercise 1 
text = "  Hello, world!  "
stripped_text = text.strip()
print(f'{text}')
print(f'{stripped_text}')

  Hello, world!
Hello, world!

In [24]:
# Exercise 2
text = "banana"
count_a = text.count('a')
print(count_a)

3

In [26]:
# Exercise 3
fruit = 'banana'
sliced_fruit = fruit[0:5:2]
print(sliced_fruit)
fruit_reversed = fruit[::-1]
print(fruit_reversed)

bnn
ananab

In [30]:
# Exercise 4
def any_lowercase2(s):
    for c in s:
        if 'c'.islower():
            return 'True'
        else:
            return 'False
#change 'c'.islower() to c,islower

def any_lowercase5(s):
    for c in s:
        if not c.islower():
            return False
    return True
#This function checks whether each character in the string is a lowercase letter. If it encounters any non-lowercase letters, it returns False. 
    #True is returned only if all characters are lowercase.
    
# if c.islower(): 
    return True

SyntaxError: unterminated string literal (detected at line 7) (2087686422.py, line 7)

In [34]:
# Exercise 5
def rotate_word(word, n):
    rotated_word = [] 
    for char in word:
        if char.isalpha(): 
            base = ord('a') if char.islower() else ord('A')
            
            rotated_char = chr(base + (ord(char) - base + n) % 26)
            rotated_word.append(rotated_char)
        else:
            rotated_word.append(char)
    
    return ''.join(rotated_word)
print(rotate_word("cheer", 7))  
print(rotate_word("melon", -10))  
print(rotate_word("IBM", -1))

jolly
cubed
HAL